/* general */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
a:hover {
  cursor: pointer;
}
/* header */
.link {
  color: #272323;
}
.link:hover {
  color: #544cac;
}
/* sections */
.hero-taitle {
  color: #353434;
}
.hero-taitle .accent {
  color: #ff5c00;
}
.smal-text {
  color: #ff5c00;
}
.search-section {
  color: #353434;
}
.columns {
  background-color: #f5f7ff;
  color: #323232;
  border-radius: 8px;
}
.columns-text {
  color: #a8a8a8;
}
.numer-one {
  color: #9444c9;
  background-color: #f3e0ff;
  border-radius: 6px;
}
.numer-two {
  color: #626fff;
  background-color: #e7e9fe;
  border-radius: 6px;
}
.numer-three {
  color: #ff5c00;
  background-color: #ffdecc;
  border-radius: 6px;
}
/* taitke us */
.taitle-us {
  color: #353434;
}
.text-us {
  color: #a8a8a8;
}
.compass-one {
  background-color: #6156dc;
  border-radius: 7px;
}
.compass-two {
  background-color: #ef6010;
  border-radius: 7px;
}
.compss-three {
  background-color: #a73eed;
  border-radius: 7px;
}
.Trusted {
  color: #323232;
}
.Easy-to-Use {
  color: #323232;
}
.Faster {
  color: #323232;
}
.text-t {
  color: #8f8f8f;
}
.text-e {
  color: #8f8f8f;
}
.text-f {
  color: #8f8f8f;
}
/* sections job */
.title-jobs {
  color: #353434;
}
.text-job {
  color: #a8a8a8;
}
.card {
  background-color: #ffffff;
  border-radius: 20px;
  color: #323232;
}
.card:hover {
  background-color: #f9faff;
}
.subtitle {
  color: #4238af;
}
.jobs_card_accent {
  color: #a8a8a8;
}
/* sections reviews */
.reviews {
  color: #353434;
}
.reviews_text {
  color: #a8a8a8;
}
.subtitle_reviews {
  color: #323232;
}
.subtitle_reviews_text_one {
  color: #868686;
}
.subtitle_reviews_text_two {
  color: #383838;
}
/* sections statistics */
.statistics {
  background-color: #ced5f4;
  border-radius: 30px;
  color: #584ec6;
}
.statistics_accent {
  color: #ffffff;
}
/* sections price */
.price {
  color: #353434;
}
.price_text {
  color: #959595;
}
.price_card {
  background-color: #ffffff;
  border-radius: 20px;
}
.price_card:hover {
  background-color: #f9faff;
}
.subtitle_price {
  color: #4238af;
}
.price_number {
  color: #353434;
}
.price_text_vercion {
  color: #8a86b9;
}
.subtitle_price_text {
  color: #a8a8a8;
}
/* sections footer */
.title_footer {
  background-color: #dbe2ff;
}
.subtitle_footer {
  color: #353434;
}
.footer_text {
  color: #717171;
}
.footer_link {
  color: #3a2e5c;
}
/* button */
.button-taitle {
  background-color: #bdbbd9;
  color: #38318b;
  border: 2px solid #bdbbd9;
  border-radius: 6px;
}
.button-taitle:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_people_one {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 47px;
  border: 2px solid #bdbbd9;
}
.button_people_two {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 47px;
  border: 2px solid #bdbbd9;
}
.button_people_one:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_people_two:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_main_Jobs {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 47px;
  border: 2px solid #bdbbd9;
}
.button_main_Jobs:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_free {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 50px;
  border: 2px solid #bdbbd9;
}
.button_free:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_premium {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 50px;
  border: 2px solid #bdbbd9;
}
.button_premium:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_platnium {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 50px;
  border: 2px solid #bdbbd9;
}
.button_platnium:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
