/* general */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
a:hover {
  cursor: pointer;
}
body {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.section-us {
  padding: 60px 0;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px;
}
* {
  padding: 0px;
  margin: 0px;
}
/* search-box */
.search-box {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  display: inline-flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  border-radius: 50px;
  overflow: hidden;
}
.search-text-form {
  border: none;
  max-width: 307px;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}
.search-from-butm {
  border: none;
  background-color: #c0c2f838;
  border-radius: 50%;
  padding: 5px;
}
.search-from-img {
  display: flex;
  align-items: center;
}
/* header */
.flex-heder {
  display: flex;
  align-items: center;
}
.header-nav-text {
  background-color: #f5f7ff;
}
.link {
  color: #272323;
}
.link:hover {
  color: #544cac;
}
.header-font-link {
  display: flex;
  gap: 20px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
  font-weight: 400;
}
.header-font-register {
  display: flex;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* sections */
.hero-button {
  display: flex;
  gap: 34px;
  align-items: center;
}
.section-hero-teible {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.section-hero {
  padding: 0;
}
.hero-taitle {
  font-family: 'promps', monospace;
  color: #353434;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 18px;
}
.hero {
  padding-top: 152px;
  background-color: #f5f7ff;
}
.hero-taitle .accent {
  color: #ff5c00;
}
.hero-text {
  color: #a8a8a8;
  font-size: 14px;
  margin-bottom: 30px;
}
/* section-awards */
.section-awards {
  padding-top: 32px;
  padding-bottom: 6px;
}
.awards-img {
  display: flex;
  align-items: center;
  gap: 85px;
}
/* sections video */
.columns-table {
  display: flex;
  align-items: center;
  gap: 15px;
}
.columns-text-accent {
  font-size: 16px;
}
.text-one {
  margin-right: 190px;
}
.text-two {
  margin-right: 187px;
}
.text-two-t {
  margin-bottom: 10px;
}
.text-three {
  margin-right: 234px;
}
.taible-video {
  display: flex;
  align-items: center;
  gap: 40px;
}
.smal-text {
  color: #ff5c00;
  font-size: 12px;
  margin-bottom: 19px;
}
.search-section {
  font-family: 'Oswald', 'sans-serif';
  color: #353434;
  font-size: 40px;
  margin-bottom: 46px;
}
.columns {
  background-color: #f5f7ff;
  color: #323232;
  border-radius: 8px;
  font-size: 16 px;
  font-weight: 600;
  padding: 14px 14px;
  margin-bottom: 22px;
}
.columns-text {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
  margin-left: 48px;
}
.numer-one {
  color: #9444c9;
  background-color: #f3e0ff;
  border-radius: 6px;
  padding: 8px 12px;
}
.numer-two {
  color: #626fff;
  background-color: #e7e9fe;
  border-radius: 6px;
  padding: 8px 12px;
}
.numer-three {
  color: #ff5c00;
  background-color: #ffdecc;
  border-radius: 6px;
  padding: 8px 12px;
}
/* taitke us */
.columns-compas {
  padding: 40px 40px;
}
.columns-us-table {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.columns-us-table:hover {
  background-color: #f9faff;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.taitle-us {
  font-size: 40px;
  color: #353434;
  text-align: center;
  margin-bottom: 20px;
}
.text-us {
  font-size: 14px;
  color: #a8a8a8;
  text-align: center;
}
.text-us-accent {
  margin: 0px 200px;
}
.text-us-accent-t {
  margin-bottom: 45px;
}
.columns-us {
  display: flex;
  align-items: center;
  gap: 30px;
}
.compass-one {
  background-color: #6156dc;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 22px;
}
.compass-two {
  background-color: #ef6010;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 22px;
}
.compss-three {
  background-color: #a73eed;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 22px;
}
.Trusted {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
  margin-bottom: 15px;
}
.Easy-to-Use {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
  margin-bottom: 15px;
}
.Faster {
  font-size: 20px;
  font-weight: 600;
  color: #323232;
  margin-bottom: 15px;
}
.text-t {
  font-size: 14px;
  color: #8f8f8f;
}
.text-e {
  font-size: 14px;
  color: #8f8f8f;
}
.text-f {
  font-size: 14px;
  color: #8f8f8f;
}

/* sections job */
.card-h3 {
  font-size: 20px;
  margin-bottom: 16px;
}
.title-jobs {
  color: #353434;
  text-align: center;
  margin-bottom: 20px;
}
.text-job-centr {
  margin: 0px 100px;
}
.text-job {
  color: #a8a8a8;
  text-align: center;
  margin-bottom: 80px;
}
.heard-button {
  display: flex;
  align-items: center;
  gap: 29px;
}
.card-boy-one {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.button-main-flex {
  display: flex;
  justify-content: center;
}
.card {
  background-color: #ffffff;
  border-radius: 20px;
  color: #323232;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 47px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.money-card {
  margin-bottom: 14px;
}
.gps-card {
  margin-bottom: 33px;
}
.card-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 65px;
  margin-bottom: 76px;
}
.card:hover {
  background-color: #f9faff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.subtitle {
  font-size: 14px;
  color: #4238af;
  margin-bottom: 46px;
  display: flex;
  justify-content: center;
}
.jobs_card_accent {
  font-size: 14px;
  color: #a8a8a8;
}
/* sections reviews */
.kolumn-us {
  display: flex;
  gap: 26px;
  justify-content: center;
}
.reviews {
  font-family: 'Oswald', 'sans-serif';
  font-size: 40px;
  font-weight: 600;
  color: #353434;
  text-align: center;
  margin-bottom: 20px;
}
.reviews_text {
  font-size: 14px;
  color: #a8a8a8;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.reviews-b {
  margin-bottom: 45px;
}
.subtitle_reviews {
  font-weight: 600;
  font-size: 20;
  color: #323232;
  margin-top: 38px;
}
.img-us {
  display: flex;
  justify-content: center;
  gap: 490px;
}
.arows {
  display: flex;
  justify-content: center;
}
.subtitle_reviews-b {
  margin-bottom: 13px;
}
.subtitle_reviews_text_one {
  font-size: 14px;
  color: #868686;
  margin-bottom: 13px;
}
.subtitle_reviews_text_two {
  font-size: 14px;
  color: #383838;
  margin-bottom: 40px;
}
/* sections statistics */
.statistics-prise {
  font-family: 'Oswald', 'sans-serif';
  font-size: 40px;
}
.statistics {
  background-color: #ced5f4;
  border-radius: 30px;
  color: #584ec6;
  display: flex;
  justify-content: space-around;
  gap: 110px;
  padding: 74px 115px;
}
.statistics_accent {
  font-size: 16px;
  color: #ffffff;
}
/* sections price */
.price {
  font-family: 'Oswald', 'sans-serif';
  font-size: 40px;
  color: #353434;
}
.price_text {
  font-size: 14px;
  color: #959595;
}
.price_card {
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 14px;
}
.price_card:hover {
  background-color: #f9faff;
}
.subtitle_price {
  font-weight: 600;
  font-size: 20px;
  color: #4238af;
}
.price_number {
  color: #353434;
}
.price_text_vercion {
  font-size: 16px;
  color: #8a86b9;
}
.subtitle_price_text {
  color: #a8a8a8;
}
/* sections footer */
.title_footer {
  padding-top: 60px;
  background-color: #dbe2ff;
}
.subtitle_footer {
  font-family: 'Oswald', 'sans-serif';
  font-size: 24px;
  color: #353434;
}
.footer_text {
  font-size: 16px;
  color: #717171;
}
.footer_link {
  font-weight: 600;
  font-size: 12px;
  color: #3a2e5c;
}
/* button */
.button-pley {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 5px 5px;
}
.button-pley:hover {
  background-color: #ffffff;
  border-radius: 47px;
}

.button-pley img {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  border: 3px solid #ffffff;
}
.button-taitle {
  background-color: #bdbbd9;
  color: #38318b;
  border: 2px solid #bdbbd9;
  border-radius: 6px;
  font-size: 16px;
  width: 150px;
  height: 44px;
}
.button-taitle:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_people_one {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 47px;
  border: 2px solid #bdbbd9;
  font-size: 16px;
  padding: 15px 25px;
}
.button_people_two {
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 47px;
  border: 2px solid #bdbbd9;
  font-size: 16px;
  padding: 15px 25px;
}
.button_people_one:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_people_two:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_main_Jobs {
  font-size: 16px;
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 47px;
  border: 2px solid #bdbbd9;
  padding: 15px 25px;
}
.button_main_Jobs:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_free {
  font-size: 16px;
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 50px;
  border: 2px solid #bdbbd9;
}
.button_free:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_premium {
  font-size: 16px;
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 50px;
  border: 2px solid #bdbbd9;
}
.button_premium:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
.button_platnium {
  font-size: 16px;
  color: #38318b;
  background-color: #bdbbd9;
  border-radius: 50px;
  border: 2px solid #bdbbd9;
}
.button_platnium:hover {
  color: #ffffff;
  background-color: #544cac;
  border-color: #544cac;
}
